.App {
  text-align: center;
}
/* h1 .highlight {
  color: #6c41ec;
  background: transparent;
} */
body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.header{
  border: 5px solid red;
  width: 70%;
  margin-top: -5rem;
  margin-bottom: 1rem;
}


.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }

.header{
  width: 100%;
  margin-top: -1rem;
}

}