.Playlist-save {
    cursor: pointer;
    width: 15rem;
    padding: 0.77rem 0;
    border-radius: 54px;
    margin-top: 1.27rem;
    background-color: #9765b1;
    text-align: center;
    transition: background-color 0.25s;
    border: 0px;
    font-weight: 500;
    border: 0px;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    margin: 20px;
  }
  
  .Playlist-save:hover {
    background-color: #7d2b8b;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

  .PlayList {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 950px;
    color: #ffffff;
    overflow-y: scroll;
    background-color: #ac2688;
    padding: 2.27rem 1.16rem;
    box-shadow: 0 4px 2px 2px #2b2d2f;
    margin: 20px;
}

.PlayList input {
  border: outlined;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
  }

  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }
  
  